@import 'styles';

$padding: 1.5rem;

.container {
  display: flex;
  flex-direction: column;

  @media ($desktop) {
    flex-direction: row;
  }

  .welcome {
    background-image: url('./static/background-mobile.jpeg');
    background-size: cover;
    min-height: 10rem;
    background-repeat: no-repeat;
    padding: $padding;

    @media ($desktop) {
      background-image: url('./static/background.jpg');
      height: 100vh;
      width: 50%;
      background-size: cover;
    }

    > h1 {
      font-size: 5rem;
      color: $white;

      @media ($desktop) {
        color: $gray-light;
        margin: 2rem 3rem;
      }
    }
  }

  .login {
    padding: $padding;

    @media ($desktop) {
      width: 50%;
    }

    .form {
      @media ($desktop) {
        padding: 2rem 2.5rem;
      }

      > h2 {
        color: $primary-dark;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      > p {
        color: $gray-light;
        text-align: center;
      }

      .my {
        margin: 1.5rem 0;
      }

      .my2 {
        margin: 2.5rem 0;
      }

      .groupedInputs {
        @media ($desktop) {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      .actionButton {
        background: $green;
        width: 100%;
        text-align: center;
        margin: 2rem 0 2.5rem;
      }
    }
  }
}
