@import './elements';

// Aqui estão as classes globais do app
.bg-green {
  background: $green;
}

.bg-lime-green {
  background: $lime-green;
}

.bg-blue {
  background: $blue;
}

.bg-yellow {
  background: $primary-light;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $primary-light;
}

.text-lime-green {
  color: $lime-green;
}

.text-pink {
  color: $pink;
}
