// Aqui são definidas as variáveis do app

/* Colors */
$primary-dark: #ffcb08;
$primary-light: #ffde00;
$white: #fff;
$black: #333;
$gray-dark: #4b4b4b;
$gray-light: #aaa;
$gray-light-100: #eee;
$orange: #ed8936;
$green-dark: #367c2b;
$green: #62ac43;
$green-light: #5ecc33;
$lime-green: #81e49b;
$blue-dark: #00314e;
$blue: #16a5df;
$blue-light: #01beff;
$pink: #f37c8e;
$red: #f06e5a;
$red-dark: #a40e4c;

/* Fonts */
$font: 'Roboto';

/* Sizing */
$size-2xs: 0.25rem;
$size-xs: 0.5rem;
$size-sm: 0.75rem;
$size-md: 1rem;
$size-lg: 1.25rem;

/* Shadows */
$shadow-base: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.7);

/* Responsive helpers */
$desktop: 'min-width: 768px';
