@import 'styles/';

.selectInput {
  position: relative;
  min-width: 10rem;

  .button {
    padding: $size-sm $size-sm;
    background: $white;
    border-radius: $size-md;
    width: 100%;
    cursor: pointer;

    .label {
      font-size: $size-sm;
      color: $orange;
    }

    .content {
      display: flex;
      flex-direction: row;
    }
  }
}

.selectOptionList {
  position: absolute;
  background: $white;

  .selectOption {
    width: 10rem;

    .selectOptionButton {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: $size-sm 0;
      font-size: $size-xs;
      background: $white;
      color: $orange;
      cursor: pointer;
    }

    .selected {
      background: $orange;
      color: $white;
    }
  }
}

.selectArrowIcon {
  color: $orange;
}
