@import '../../styles/';

.selectInput {
  position: relative;
  width: 10rem;

  .selectInput--button {
    padding: $size-sm $size-xs;
    background: $white;
    border-radius: $size-md;
    cursor: pointer;

    .selectInput--button--label {
      font-size: $size-xs;
      color: $orange;
    }

    .selectInput--button--content {
      display: flex;
      flex-direction: row;
    }
  }
}

.selectOptionList {
  position: absolute;
  background: $white;

  .selectOptionList--option {
    width: 10rem;

    .selectOptionList--optionButton {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: $size-sm 0;
      font-size: $size-xs;
      background: $white;
      color: $orange;
      cursor: pointer;
    }

    .selectOptionList--optionButton-selected {
      background: $orange;
      color: $white;
    }
  }
}
