@import 'styles';

$active-bg: linear-gradient(90deg, rgba(149, 228, 39, 1) 0%, rgba(21, 130, 16, 1) 100%);
$inactive-bg: rgb(159, 204, 128);

.createProperty {
  display: flex;
  justify-content: stretch;
  flex-direction: column-reverse;

  @media ($desktop) {
    flex-direction: row;
  }

  .form {
    @media ($desktop) {
      width: 65%;
      padding: 2rem 2rem;
      margin-right: 3rem;
    }

    > h1 {
      font-size: 2.5rem;
      font-weight: normal;
      margin: 2rem 0;
      text-align: center;
      color: $green;
    }
  }

  .progress {
    background: rgb(109, 163, 92);
    color: $white;
    padding-top: 2rem;

    @media ($desktop) {
      padding-top: 0;
      padding-right: 4rem;
      width: 25%;
    }

    .progressContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media ($desktop) {
        align-items: stretch;
        justify-content: center;
        height: 100vh;
      }

      .progressItem {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;

        @media ($desktop) {
          flex-direction: row;
        }

        .activeProgressNumber {
          padding: 0.2rem 0.6rem;
          background: $active-bg;
          border-radius: 100%;

          @media ($desktop) {
            position: absolute;
            left: -1rem;
          }
        }

        .activeProgressItem {
          position: relative;
          background: $active-bg;
          margin: 1rem 1rem;
          border-radius: 0.2rem;
          padding: 0.5rem;
        }

        .inactiveProgressNumber {
          display: none;
          position: absolute;
          left: -1rem;
          padding: 0.2rem 0.6rem;
          background: $inactive-bg;
          border-radius: 100%;

          @media ($desktop) {
            display: block;
          }
        }

        .inactiveProgressItem {
          display: none;
          position: relative;
          background: $inactive-bg;
          margin: 1rem 1rem;
          border-radius: 0.2rem;
          padding: 0.5rem;

          @media ($desktop) {
            display: block;
          }
        }

        .title {
          font-size: 1.2rem;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
