@import 'styles';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  align-items: center;
  justify-content: center;

  .modalContent {
    padding: 2rem;
    background: $white;
    box-shadow: $shadow-base;
    border-radius: 0.2rem;
    z-index: 3001;
  }
}
