@import '~styles';

.Notification__container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  left: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  transition: opacity 5s;

  > p {
    opacity: 1;
    text-align: center;
  }
}

.success {
  background: $green-light;
  color: $green-dark;
}

.info {
  background: $blue;
  color: $blue-dark;
}

.warning {
  background: $primary-light;
  color: $orange;
}

.error {
  background: $red;
  color: $red-dark;
}
