@import 'styles';

.detailsForm {
  padding: 0 2rem;

  @media ($desktop) {
    padding: 0;
  }

  .inlineInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media ($desktop) {
      flex-direction: row;
    }

    .col {
      margin: 1rem 0;

      > p {
        color: $gray-light;
      }

      > div {
        display: flex;
        align-items: flex-end;

        > button {
          margin-left: 1rem;
          background: $blue;
        }
      }
    }
  }
}
