@import '~styles/';

.Filters__container {
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: $shadow-base;
  width: 100%;

  .searchButton {
    background: $primary-dark;
    color: $white;
    font-size: $size-md;
    padding: $size-lg $size-lg;
  }
}
