@import '../../../styles/';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background: $white;
  padding: $size-sm $size-md;

  .header--logo {
    height: 4rem;
  }

  .header--link {
    font-size: $size-md;
    color: $black;
  }

  .header--button {
    display: flex;
    flex-direction: column;
    padding: $size-2xs 0;
    background: $primary-dark;
    color: $white;

    .header--button-contactText {
      visibility: hidden;
      color: $black;
    }

    .header--button-content {
      display: flex;
      justify-content: center;
    }
  }
}
