@import 'styles/';

.container {
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: $size-xs;
  width: 100%;
  overflow: hidden;
  box-shadow: $shadow-base;

  @media ($desktop) {
    margin-top: 10rem;
    flex-direction: row;
    width: auto;
  }

  .searchButton {
    background: $primary-dark;
    color: $white;
    font-size: $size-md;
    padding: $size-lg $size-lg;
  }
}
