@import '../../../styles/';

.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  background: $white;
  border-radius: $size-xs;
  box-shadow: $shadow-base;

  .searchButton {
    background: $primary-dark;
    color: $white;
    font-size: $size-md;
    padding: $size-lg $size-lg;
    border-bottom-right-radius: $size-xs;
    border-top-right-radius: $size-xs;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
