@import 'styles';

.myAds {
  position: relative;
  padding: 10rem 2rem 3rem;

  > h1 {
    font-size: 2.5rem;
  }

  .createButton {
    display: flex;
    margin: 1rem 0;
    background: $green;

    @media ($desktop) {
      position: absolute;
      right: 2rem;
      top: 9rem;
    }

    > p {
      margin-left: 1rem;
    }
  }

  .adsList {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    @media ($desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }
}
