@import 'styles';

.container {
  .title {
    font-weight: normal;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
  }

  .subtitle {
    font-weight: normal;
    font-size: 1.25rem;
    margin: 2rem 0;
    text-align: center;
  }

  .plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media ($desktop) {
      flex-direction: row;
    }
  }

  .plansDescription {
    padding: 0 2rem;
    margin: 1rem 0 2rem;

    @media ($desktop) {
      padding: 0 10rem;
    }

    > p {
      margin: 1rem 0;
      color: $gray-dark;
      line-height: 2rem;
    }
  }
}
